# Entorno de desarrollo
*.iml
.DS_Store
.gradle/
/build/
build/
captures/
.externalNativeBuild/
.cxx/

# IntelliJ / Android Studio
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Archivos compilados
*.aab
*.apk
output-metadata.json
*.hprof

# Archivos de seguridad y claves
local.properties
*.jks
*.keystore

# Firebase y API
google-services.json
app/google-services.json